@using System.Web.Http.Description
@model System.Web.Http.Description.IApiExplorer
@{
    ViewBag.Title = "Activity Cloud APIs";
}
<section class="content-wrapper main-content clear-fix">
    <h3>Activity Cloud APIs</h3>
    <hgroup>
        The following methods are available within Activity Cloud API:
        <ul>
            @foreach (ApiDescription api in Model.ApiDescriptions)
            {
                <li>
                    <h5>@api.HttpMethod @api.RelativePath</h5>
                    <blockquote>
                        <p>@api.Documentation</p>
                        @if (api.ParameterDescriptions.Count > 0)
                        {
                            <h6>Parameters</h6>
                            <ul>
                                @foreach (ApiParameterDescription parameter in api.ParameterDescriptions)
                                {
                                    <li>@parameter.Name: @parameter.Documentation (@parameter.Source)</li>
                                }
                            </ul>
                        }
                    </blockquote>
                </li>
            }
        </ul>
    </hgroup>
</section>